<div id="container">
    <img src="login.svg" alt="Login"/>
    <form [formGroup]="loginForm">
        <input type="text" formControlName="email" placeholder="E-mail">
        <br/>
        <input type="password" formControlName="password" placeholder="Password">
        <p>Forgot your password? <a [routerLink]="['/forgot-password']">Click Here!</a> </p>
        <hr/>
        <div id="loggedin-div">
            <input type="checkbox" id="loggedin">
            <label for="loggedin">Keep me logged in</label>
        </div>
        <br/>
        <button class="form-button-one">Sign In</button>
        <p>You don't have an account? <a [routerLink]="['/register']">Sign Up!</a></p>
    </form>
</div>
