#container {
  width: 25%;
  align-items: center;
  margin: auto;
  padding-top: 10%;
  text-align: center;
}

img{
  width:400px;
  height: auto;
}

#loggedin-div{
  display: flex;
  justify-content:left;
  align-items: center;
}

#loggedin {
  margin: 10px;
}

p {
  text-align: left;
  font-size: 12px;
}

button {
  margin: 30px;
  margin-top: 15px;
  margin-bottom: 0;
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  margin-left: 15px;
}