div {
  width: 25%;
  align-items: center;
  margin: auto;
  text-align: center;
  margin-top: 10%;
}

p {
  text-align: left;
}

button {
  margin: 20px;
  margin-bottom: 0;
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  margin-left: 15px;
}

label[for='loggedin'] {
  margin: 5px;
}

label,
input[type='checkbox'] {
  float: left;
}