#container{
    padding: 20px;
    max-height: 70vw;
    margin-left:10px;
    overflow:scroll;
}

h2{
    margin: 0;
    margin-left:20px;
}

.complaint{
    background-color: #f5f5f5;
    border-radius: 20px;
    padding:10px;
    margin:5px;
    padding-left:20px;
}

.text, .username{
    margin: 0;
    color: black;
}

.username {
    font-weight: bolder;
}