div {
  width: 80%;
  margin: auto;
  padding-bottom: 2px;
  align-items: center;
  text-align: center;
}

#places {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-icon,
p {
  color: white;
  display: inline;
  font-size: 20px;
}

img {
  height: 300px;
  width: auto;
}

h1,
p {
  line-height: 10px;
}

h2 {
  margin: 0;
}

h1 {
  margin: 20px;
  font-family: 'Squada One';
  font-size: 60px;
}

dialog,
textarea {
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 10px;
  height: 50%;
}

dialog {
  background-color: #d9d9d9;
  text-align: center;
  background-blend-mode: difference;
  width: 40%;
  height: 40%;
  animation: enter-animation 0.3s;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  animation: enter-animation 0.3s;
}

textarea {
  width: 70%;
  display: block;
  margin: auto;
}

.no-ride {
  text-align: center;
  margin-top: 4rem;
  color: #666;
}

@keyframes enter-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
