#container {
  width: 25%;
  align-items: center;
  margin: auto;
  padding-top: 10%;
  text-align: center;
}

p{
    font-size: 10px;
}

img{
  width:350px;
  height: auto;
}

button{
    width: 50%;
}