<div class="dialog-container">

  <div class="top">
    <div class="map-container">
        <img src="map.png" alt="Ride route" />
    </div>

    <div class="time-status">
        <div class="times">
        <span>{{ ride.startTime | date:'HH:mm' }}</span>
        <span>{{ ride.endTime | date:'HH:mm' }}</span>
        </div>

        <div class="checkboxes">
            <label><mat-checkbox [checked] = "ride.canceled" [disabled] ="true">Canceled</mat-checkbox></label>

            <label><mat-checkbox [checked] = "ride.panic" [disabled] = "true"> Panic</mat-checkbox></label>
        </div>
    </div>
</div>

<div class="users-wrapper">
@if(user?.role != 'passenger'){
  <div class="users">
      <div class="user-card" *ngFor="let passenger of ride.passengers">
          <img  [src]="passenger.image || 'pfp.png'" alt="{{passenger.name}}" class="avatar">
          <h4>{{ passenger.name }}  {{passenger.lastName}}</h4>
          <p>{{ passenger.phone }}</p>
      </div>
  </div>
}

  <div class="dialog-footer">
    <button class="favorite-btn">❤️Favorites</button>
    <span class="price">{{ ride.price }} RSD</span>
    <button class="order-btn">Order</button>
    @if(user?.role == 'passenger'){
      <button class="rate-btn">Rate Ride</button>
    }
  </div>
</div>
</div>
