<div class="dialog-container">

  <div class="top">
    <div class="map-container">
        <img src="map.png" alt="Ride route" />
    </div>

    <div class="time-status">
        <div class="times">
        <span>{{ ride.startTime | date:'HH:mm' }}</span>
        <span>{{ ride.endTime | date:'HH:mm' }}</span>
        </div>

        <div class="checkboxes">
            <label><mat-checkbox>Canceled</mat-checkbox></label>

            <label><mat-checkbox> Panic</mat-checkbox></label>
        </div>
    </div>
</div>

<div class="users-wrapper">
@if(user().role != 'passenger'){
  <div class="users">
      <div class="user-card" *ngFor="let user of ride.users()">
          <img  src="corgo1.jpeg" alt="{{user.name}}" class="avatar">
          <h4>{{ user.name }}</h4>
          <p>{{ user.email }}</p>
          <p>{{ user.phoneNumber }}</p>
      </div>
  </div>
}

  <div class="dialog-footer">
    <button class="favorite-btn">❤️Favorites</button>
    <span class="price">{{ ride.price }} RSD</span>
    <button class="order-btn">Order</button>
    @if(user().role == 'passenger'){
      <button class="rate-btn">Rate Ride</button>
    }
  </div>
</div>
</div>
