.dialog-container {
  padding: 2rem;
  background-color: #e0dcdc;
  font-family: 'Mandali';
  overflow: hidden;
}

.top {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: flex-start;
}

.map-container img {
  width: 18vw;
  border-radius: 2rem;
}

.time-status {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

.times {
  display: flex;
  gap: 1rem;
}

.times span {
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-weight: bold;
}

.checkboxes {
  display: flex;
  flex-direction: column; 
  gap: 1rem;           
  justify-content: flex-start;
}

.checkboxes label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
  color: gray;
  font-size: 1.3rem;
}

.users-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem; 
}


.users {
  flex: 1 1 150px; 
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.user-card {
  background-color: #2c2a2a;
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  height: 10rem;
  width: 7rem;
  text-align: center;
  font-size: 0.7rem;
}

.user-card.empty-card {
  background-color: #fcecec;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.dialog-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.favorite-btn,
.order-btn {
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #2c2a2a;
}

.favorite-btn {
  background-color: #f5f5f5;
  width: 12rem;
}

.order-btn {
  background-color: #f5f5f5;
}

.rate-btn{
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #2c2a2a;
  background-color: #f5f5f5;
  width:100%;
}

.price {
  background-color: #c0d6a5;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
}