#container{
    width:70%;
    margin: auto;
    align-items: center;
    text-align: center;
}


.subtitle{
    color:white;
    font-size: 20px;
}


h1, p{
    line-height: 20px;
}

h1{
    margin: 20px;
    font-family: "Squada One";
    font-size: 60px;
}

button{
    background-color: #A85F5F;
}

#panic{
    background-color: #691D1D;
}

button:hover{
  transform: translateY(-1px);
}

.top-bar {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}


.panic {
  background: #691D1D;
  color: white;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}


.label {
  color: #bdbdbd;
  font-family: "Mandali";
  font-size: 1rem;
}

.report-button {
  background: white;
  color: darkred;
  font-weight: bold;
  width: 10rem;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.report-button:hover {
    background-color: #9ea1ae;
}

