<app-nav-bar></app-nav-bar>
<div id="container">
  <h1>Tracking Route</h1>
  <p>{{ subtitleText }}</p>
  <app-tracking-map [locations]="route", (estimatedTime)="setTimeEvent($event)" (passingOutput)="passStationEvent($event)"></app-tracking-map>
  <div>
    @if(user != null && user.role == 'driver'){
    <button (click)="changeState()">{{ firstButtonText }}</button>
    <button id="panic">PANIC</button>
    }
  </div>
  @if(user != null && user.role == 'passenger'){
  <div class="top-bar">
    <button class="panic">PANIC</button>

    <div class="right">
      <label class="label">Something is wrong?</label>
      <button class="report-button" (click)="openComplaintDialog()">Report here</button>
    </div>
  </div>
  }
</div>
