#container {
  width: 25%;
  align-items: center;
  margin: auto;
  padding-top: 10%;
  text-align: center;
}

img{
  width:400px;
  height: auto;
}

button{
    width: 50%;
}

h1 {
  font-family: 'Squada One';
  font-size: 48px;
  margin-bottom: 0;
}

p{
  font-size: 10px;
}