#stationsBox{
    height:150px;
    width:auto;
    overflow-y: scroll;
    width:350px;
    scrollbar-color: gray #312e2e;
}

button{
    width:140px;
    font-size: 16px;
}

#placeholder{
    margin-left: 10px;
}

.animated{
    animation: fade 0.5s
}

h2{
    color: white;
    margin: 0;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 100;
    }
}