<div id="container">
    <h1>Register</h1>
    <form [formGroup]="registerForm">
        <div id="grid">
            <input type="text" formControlName="email" placeholder="E-mail">
            <input type="password" formControlName="password" placeholder="Password">
            <input type="password" formControlName="confirmPassword" placeholder="Confirm Password">
            <input type="image" formControlName="image">
            <input type="text" class="invisible">
            <input type="text" formControlName="name" placeholder="Name">
            <input type="text" formControlName="lastName" placeholder="Last Name">
            <input type="text" formControlName="address" placeholder="Address">
            <input type="text" formControlName="phone" placeholder="Phone Number">
            <div id="bottom">
                <button>Sign Up</button>
                <p id="signin">Already have an account? <br/> <a [routerLink]="['/login']">Sign In!</a></p>
            </div>
        </div>
    </form>
</div>