<app-nav-bar></app-nav-bar>
<div class="center-container">
  <mat-form-field>
    <mat-label>Search by name</mat-label>
    <input matInput (input)="onSearchChange($event)" placeholder="Enter name" />
  </mat-form-field>
</div>

<div class="mat-elevation-z8">
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Ongoing rides overview">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let data">{{ data.name }}</td>
        </ng-container>

        <ng-container matColumnDef="lastname">
          <th mat-header-cell *matHeaderCellDef>Lastname</th>
          <td mat-cell *matCellDef="let data">{{ data.lastname }}</td>
        </ng-container>

        <ng-container matColumnDef="startLocation">
          <th mat-header-cell *matHeaderCellDef>Start location</th>
          <td mat-cell *matCellDef="let data">{{ data.startLocation }}</td>
        </ng-container>

        <ng-container matColumnDef="endLocation">
          <th mat-header-cell *matHeaderCellDef>End location</th>
          <td mat-cell *matCellDef="let data">{{ data.endLocation }}</td>
        </ng-container>

        <ng-container matColumnDef="startTime">
          <th mat-header-cell *matHeaderCellDef>Start time</th>
          <td mat-cell *matCellDef="let data">{{ data.startTime | date: 'dd/MM/yyyy HH:mm' }}</td>
        </ng-container>

        <ng-container matColumnDef="endTime">
          <th mat-header-cell *matHeaderCellDef>End time</th>
          <td mat-cell *matCellDef="let data">{{ data.endTime | date: 'dd/MM/yyyy HH:mm' }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [length]="totalData"
        [pageSizeOptions]="[5]"
        [pageIndex]="pageIndex"
        showFirstLastButtons
        (page)="onPageChange($event)"
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </mat-tab>

    <mat-tab label="Users">
      <mat-tab-group>
        <mat-tab label="Drivers">
          <div class="tab-content">
            <table mat-table [dataSource]="driversDataSource">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let driver">{{ driver.name }}</td>
              </ng-container>

              <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef>Lastname</th>
                <td mat-cell *matCellDef="let driver">{{ driver.lastname }}</td>
              </ng-container>

              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let driver">{{ driver.email }}</td>
              </ng-container>

              <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef>Phone Number</th>
                <td mat-cell *matCellDef="let driver">{{ driver.phoneNumber }}</td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let driver">
                  <button mat-raised-button color="warn" (click)="blockDriver(driver)">
                    Block
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="driversDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: driversDisplayedColumns"></tr>
            </table>

            <mat-paginator
              [length]="totalDrivers"
              [pageSizeOptions]="[5]"
              [pageIndex]="driversPageIndex"
              showFirstLastButtons
              (page)="onDriversPageChange($event)"
              aria-label="Select page of drivers"
            >
            </mat-paginator>
          </div>
        </mat-tab>

        <mat-tab label="Passengers">
          <div class="tab-content">
            <table mat-table [dataSource]="passengersDataSource">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let passenger">{{ passenger.name }}</td>
              </ng-container>

              <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef>Lastname</th>
                <td mat-cell *matCellDef="let passenger">{{ passenger.lastname }}</td>
              </ng-container>

              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let passenger">{{ passenger.email }}</td>
              </ng-container>

              <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef>Phone Number</th>
                <td mat-cell *matCellDef="let passenger">{{ passenger.phoneNumber }}</td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let passenger">
                  <button mat-raised-button color="warn" (click)="blockPassenger(passenger)">
                    Block
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="passengersDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: passengersDisplayedColumns"></tr>
            </table>

            <mat-paginator
              [length]="totalPassengers"
              [pageSizeOptions]="[5]"
              [pageIndex]="passengersPageIndex"
              showFirstLastButtons
              (page)="onPassengersPageChange($event)"
              aria-label="Select page of passengers"
            >
            </mat-paginator>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
  </mat-tab-group>
</div>
