body {
  background-color: #312e2e;
}

h1, p, label{
    color: white;
}

button {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  height: 50px;
  width: 120px;
}

.form-button-one {
  background-color: #a85f5f;
}

input[type='text'],
input[type='image'],
input[type='password'] {
  margin: 10px;
  margin-left: 0;
  width: 300px;
  height: 30px;
  padding-left: 20px;
  border-radius: 20px;
  border: none;
  background-color: white;
}

a {
  color: #ad2d2d;
}

input[type='text']:focus,
input[type='password']:focus {
  outline: none;
}

input[type='image'] {
  color: gray;
}
