/* You can add global styles to this file, and also import other style files */
html{
    background-color: #312E2E;
}

h1, p, label{
    color: white;
}

button{
    margin:10px;
    padding: 10px;
    border-radius: 10px;
}

input[type="text"], input[type="image"], input[type="password"]{
    margin:10px;
    margin-left: 0;
    width:300px;
    height:30px;
    padding-left: 20px;
    border-radius: 20px;
    border: none;
}

input[type="text"]:focus, input[type="password"]:focus{
    outline: none;
}
