.container {
  display: flex;
  height: 100vh;
}

.left {
  width: 300px;
  background: #111;
  color: white;
  overflow-y: auto;
}

.box {
  padding: 12px;
  border-bottom: 1px solid #333;
  cursor: pointer;
}

.box:hover {
  background: #222;
}

.name {
  font-weight: bold;
}

.phone {
  font-size: 12px;
  color: #aaa;
}

.right {
  width: 75%;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  overflow: hidden;
}

app-chat {
  flex: 1;
  overflow: hidden;
}
