.container {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
}

.left {
  width: 25%;
  background-color: #427254c1;
  border-right: 1px solid #ddd;
  overflow-y: auto;
  padding: 0;
  margin: 0;
}

.right {
  width: 75%;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  overflow: hidden;
}

app-chat {
  flex: 1;
  overflow: hidden;
}
