<div class="card info-card" [class.no-button]="!showButton">
  @if (!showButton) {
  <h3>👤 Driver Information</h3>
  } @if (showProfilePicture) {
  <div class="profile-pic">
    <input
      type="file"
      #fileInput
      (change)="onFileSelected($event)"
      accept="image/*"
      style="display: none"
    />
    <img [src]="userProfileImage" alt="Profile Picture" />
    <div class="edit-icon" (click)="fileInput.click()">📷</div>
  </div>
  }

  <input type="text" [(ngModel)]="formData.firstName" placeholder="First Name" />

  <input type="text" [(ngModel)]="formData.lastName" placeholder="Last Name" />

  <input type="text" [(ngModel)]="formData.address" placeholder="Address" />

  <input type="text" [(ngModel)]="formData.phone" placeholder="Phone" />

  <input type="email" [(ngModel)]="formData.email" placeholder="Email" [readonly]="emailReadonly" />

  @if (showButton) {
  <button class="save-changes" [disabled]="!hasChanges()" (click)="onSubmit()">
    {{ buttonLabel }}
  </button>
  }
</div>
