.example-spacer {
  flex: 1 1 auto;
}

.content {
  height: 100vh;
}

mat-sidenav-container{
  position: absolute;
  height: 100vh;
}

.sidebar {
  max-width: 300px;
  min-width: 150px;
  background: #d9d9d9;
  border-radius: 1.5rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden !important;
  &.expanded{
    width: 20vw;
  }
}

.mat-toolbar {
  display: flex;
  height: 8vw;
  padding-right: 2rem;
}

mat-toolbar mat-icon {
  font-size: 1.75rem;
  cursor: pointer;
}

.item {
  display: flex;
  align-items: center;
  width: 85%;
  font-size: 1.1rem;
  font-family: 'Mandali';
  cursor: pointer;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.item mat-icon {
  margin-right: 1rem;
  font-size: 1.6rem;
}

.separator {
  height: 0.2rem;
  background: #aaa;
}

.logout-btn {
  padding: 1rem;
  background: #a43434;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 2rem;
  cursor: pointer;
  width: 10vw;
  text-align: center;
  margin: 1rem 3rem 1rem 3rem;
}

.nav-logo {
  height: 50%;
  width: auto;
  object-fit: contain;
  display: block;
}

.notification {
  color: yellow;
}

@media (max-width: 768px) {
  .sidebar {
    width: 50vw;
    padding: 1rem 0.5rem;
    align-items: center;
  }

  .item {
    font-size: 0.9rem;
  }

  .item mat-icon {
    font-size: 1.6rem;
  }

  .mat-toolbar {
    height: 56px;
  }

  mat-toolbar mat-icon {
    font-size: 1.5rem;
  }

  .logout-btn {
    width: 25vw;
  }
}
mat-sidenav-container {
  position: absolute;
}
