.page {
  display: flex;
  gap: 24px;
  padding: 24px;
}

.left-panel {
  width: 20%;
  color: #ccc;
}

.map-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#map {
  height: 70vh;
  width: 60vw;

  border-radius: 18px;
  overflow: hidden;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.remove-pin-btn {
  margin-top: 10px;
  font-size: 0.8rem;
  padding: 6px 12px;
}
