.page {
  display: flex;
  gap: 24px;
  padding: 24px;
}

.left-panel {
  width: 340px;
  color: #ccc;
}

.map-wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

#map {
  height: 70vh;
  width: 60vw;

  border-radius: 18px;
  overflow: hidden;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}
