#container{
    width:70%;
    margin:auto;
}

.notifs{
    border-radius: 30px;
    margin:20px;
    background-color: #e0dcdc;
    padding-top: 10px;
    padding-left:5%;
    padding-bottom: 20px;
}

.notif-title{
    size: 36px;
}

h1{
    font-family: "Squada One";
    font-size: 64px;
    padding-left: 10%;
    padding-top:0;
    margin-top:0;
}

h2, p{
    font-family: "Mandali";
    color: black;
    margin: 0;
}

.notif-title{
    margin:0;
}